<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61D폴 블랑코 노래모음 GLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <style></style>
    <script th:inline="javascript">
        $(document).ready(function() {
            let movieTitle // 영화 제목
            let userLikeList; // 영화 좋아요(String 형식)
            let movieTitleList = []; // 영화 제목을 배열 형식으로 변경
            userLikeList = [[${session.userLikeList}]];
            let userLikeListArray = userLikeList.split(",") // String 형식의 pk값을 ,을 기준으로 구별
            let userLikeListInt = userLikeListArray.map(Number); // STring 형식의 pk값을 Int로 변경

            function getInfo() {
                return new Promise(function (resolve, reject) {
                    let promises = []
                    for (let i = 0; i < userLikeListInt.length; i++) {
                        promises.push(
                            new Promise(function (innerResolve, innerReject) {
                                $.ajax({
                                    url: "/detail/getInfo/" + userLikeListInt[i],
                                    type: "GET",
                                    data: {},
                                    success: function (data) {
                                        movieTitle = data.movieTitle;
                                        movieTitleList[i] = movieTitle;
                                        innerResolve();
                                    },
                                    error: function () {
                                        innerReject("에러 발생");
                                    },
                                });
                            })
                        );
                    }
                    Promise.all(promises)
                        .then(function () {
                            resolve(movieTitleList);
                        })
                        .catch(function (error) {
                            reject(error);
                        });
                });
            }

            getInfo()
                .then(function (result) {
                    console.log(result);
                    let promises = [];

                    for (let i = 0; i < movieTitleList.length; i++) {
                        const moviename = movieTitleList[i];
                        promises.push(movieDetail(moviename))
                        console.log(promises)
                    }
                    return Promise.all(promises);
                })
                .then(function () {
                    console.log("모든 영화 정보 가져옴")
                })
                .catch(function (error) {
                    console.log(error);
                });

            function movieDetail(moviename) {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        url: "https://api.themoviedb.org/3/search/movie?api_key=ad2f7390e457d7dc76e7fda8dcae77b2&language=ko-KR&page=1&query=" + moviename,
                        type: "GET",
                        data: {},
                        success: function (data) {
                            console.log(data)
                            const MovieDetailList = data.results;
                            const imageBaseUrl = "https://image.tmdb.org/t/p/w500";
                            if (movieTitleList.length > 0) {
                                let tag = "<div class=\"card bg-secondary \">";
                                tag += "<div class=\"row g-0\">";
                                tag += "<div class=\"col-md-7\">";
                                tag += "<a class='text-decoreaion-none text-black' href='/detail/data/"+MovieDetailList[0].title+"'>";
                                tag += "<img src =\""+imageBaseUrl+ MovieDetailList[0].backdrop_path + "\" alt=\"\" class=\"img-fluid rounded-start\">";
                                tag += "</div>";
                                tag += "<div class=\"col-5\">";
                                tag += " <h3 class=\"card-title\">"+MovieDetailList[0].title + "</h3>";
                                tag += "<p>"+MovieDetailList[0].overview+"</p>"
                                tag += " </div>";
                                tag += " </div>";
                                tag += "</a></div>";
                                $("#div-likelist").append(tag);
                            }
                            resolve();
                        },
                        error: function () {
                            reject("에러 발생")
                        },
                    });
                });
            }
        })
    </script>
</head>
<body>

<!-- header 영역-->
<header th:replace="~{layout/header :: header-basic}"></header>

<!-- main 영역 -->
<div class="container">
    <div class="row">
        <div class="col-sm-3 mx-auto">
            <div class="my-3 d-grid gap-3">
                <a href="/member/correction" class="w-50 p-2 btn btn-success">회원 정보 수정</a>
                <div class="updateTheaterBtns d-flex align-items-center" th:if="${session.userGrade == 1}">
                    <script>
                        $(document).ready(function(){
                            $("#updateCgvTheater").on("click",function(){
                                $.ajax({
                                    url:"/detail/updateTheater.do",
                                    data:{"type":"cgv"},
                                    type:"GET",
                                    success:function(){
                                        console.log("update success");
                                    },
                                    error:function(){
                                        console.log("update error")
                                    }
                                });
                            });

                            $("#updateMegaBoxTheater").on("click",function(){
                                $.ajax({
                                    url:"/detail/updateTheater.do",
                                    data:{"type":"megaBox"},
                                    type:"GET",
                                    success:function(){
                                        console.log("update success");
                                    },
                                    error:function(){
                                        console.log("update error")
                                    }
                                });
                            });

                            $("#updateLotteCinemaTheater").on("click",function(){
                                $.ajax({
                                    url:"/detail/updateTheater.do",
                                    data:{"type":"lotteCinema"},
                                    type:"GET",
                                    success:function(){
                                        console.log("update success");
                                    },
                                    error:function(){
                                        console.log("update error")
                                    }
                                });
                            });
                        });
                    </script>
                    <p class="my-auto text-center" style="width: 10em">영화관 정보 최신화</p>
                    <button class="btn btn-pink" type="button" id="updateCgvTheater">cgv</button>
                    <button class="btn btn-pink" type="button" id="updateMegaBoxTheater">megaBox</button>
                    <button class="btn btn-pink" type="button" id="updateLotteCinemaTheater">lotteCinema</button>
                </div>
            </div>
        </div>
        <div class="" id="div-likelist">
            <p>자기가 누른 좋아요 리스트</p>
        </div>
    </div>
</div>

<!--footer 영역-->
<footer th:replace="~{layout/footer :: footer-basic}"></footer>

</body>
</html>