<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61D폴 블랑코 노래모음 GLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <style></style>
  <script th:inline="javascript">
      $(document).ready(function (){
          let userLikeList;
          userLikeList = [[${session.userLikeList}]];
          let userLikeList2 = [[${session.userName}]];

          console.log(userLikeList);
          console.log(userLikeList2);
      })
  </script>
</head>
<body>

<!-- header 영역-->
<header th:replace="~{layout/header :: header-basic}"></header>

<!-- main 영역 -->
<div class="container">
  <div class="row">
      <div class="row p-4 mb-4 mt-5 bg-primary text-white">
          <p>회원정보 수정</p>
      </div>
      <div class="row p-4 mb-4 mt-5 bg-secondary text-white">
          <p>자기가 누른 좋아요 리스트</p>
          <span th:text="${session.userLikeList}">좋아요한 영화</span>
      </div>
  </div>
</div>

<!--footer 영역-->
<footer th:replace="~{layout/footer :: footer-basic}"></footer>

</body>
</html>