/* font */
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://webfontworld.github.io/NanumSquare/NanumSquare.css');

/* default */
body {
    font-family: 'NanumSquare';
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border : none;
    outline: none;
}

/* nav */

.menu-list {
    margin-top : 10px;

}

.menu-list > li{
    margin-right: 30px ;
    vertical-align: bottom;
}

.menu-list a {
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu-list a:hover {
    color : #ef3668;
    font-weight: 700;
}

.logo {
    margin-right: 35px;
    font-family: 'GmarketSans';
    font-weight: 800 !important;
    font-size: 1.4rem !important;
    letter-spacing: -1px;
}

.logo span:first-of-type {
    color : #ef3668;
}

.logo span:last-of-type {
    color : #595959;
}

.btn-pink {
    background-color: #ef3668;
    color : #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.btn-pink:hover {
    background-color: #f5799a;
    color : #fff;
}

/* search */
/*li.movie-search {
    margin-right: 8px;
}*/

.movie-search form {
    width: 250px;
    display: flex;
    align-items: center;
}

.movie-search label {
    width: 100%;
    background: #f5f5f7;
    padding: 7px 20px;
    border-radius: 5px;
}

.movie-search input {
    width: 100%;
    background-color: #f5f5f7;
}


/* login */
.login {
    margin-top: 5px;
    line-height: 40px;
}

/* movie-board */

.movie-board {
    width: 85%;
}

.board-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #ef3668;
}

.board-search {
    width: 100%;
    border : 1px solid #ddd;
    background-color: #f8f6f6;
    padding: 20px 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.board-search input {
    font-size: 1.08rem;
    width: 10%;
    padding: 10px 15px;
    border-radius: 5px;
    border : 1px solid #ddd;
    margin-right: 5px;
}

.board-search input:last-of-type {
    width: 40%;
}

/* movie-table */

.movie-table {
    width: 100%;
    text-align: center;
    font-size: 1.08rem;
    border-top: 2px solid #666;
}

.movie-table tbody tr:last-of-type{
    border-bottom: 2px solid #666;
}

.movie-table td, th {
    padding: 10px 8px;
}

.movie-table tr {
    margin: 0 20px;
}

#btn-search {
    /*visibility: hidden;
    display: none;*/
}

/* board-detail */

.board-detail {
    margin: 30px 0;
    border-top: 2px solid #666;
    font-size: 1.1rem;
}

.board-detail th, td {
    padding: 20px 20px;
}

.board-info span {
    background-color: #efefef;
    margin-right: 10px;
}

/* test css */

h1.test {
    font-weight: bolder !important;
}