/* font */
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://webfontworld.github.io/NanumSquare/NanumSquare.css');

/* default */
body {
    font-family: 'NanumSquare';
}

input[type=password]{
    font-family:"굴림";
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border : none;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

/* nav */

.menu-list {
    margin-top : 10px;

}

.menu-list > li{
    margin-right: 30px ;
    vertical-align: bottom;
}

.menu-list a {
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu-list a:hover {
    color : #ef3668;
    font-weight: 700;
}

.logo {
    margin-right: 25px;
    font-family: 'GmarketSans';
    font-weight: 800 !important;
    font-size: 1.4rem !important;
    letter-spacing: -1px;
}

.logo span:first-of-type {
    color : #ef3668;
}

.logo span:last-of-type {
    color : #595959;
}

.btn-pink {
    background-color: #ef3668;
    color : #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.btn-pink:hover {
    background-color: #f5799a;
    color : #fff;
}

.btn-outline-pink {
    background-color: #fff;
    border: 1px solid #ef3668;
    color: #ef3668;
}

.btn-outline-pink:hover {
    background-color: #ef3668;
    color : #fff;
}


li.movie-search {
    margin-right: 8px;
}

.movie-search form {
    width: 250px;
    display: flex;
    align-items: center;
}

.movie-search label {
    width: 100%;
    background: #f5f5f7;
    padding: 7px 20px;
    border-radius: 5px;
}

.movie-search input {
    width: 100%;
    background-color: #f5f5f7;
}


/* login */
.login {
    margin-top: 5px;
    line-height: 40px;
}
.user-login {margin-top:8px;}
.user-login span {
    font-size: 1.08rem;
}

/* movie-board */

.movie-board {
    width: 85%;
}

.board-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #ef3668;
}


.board-search {
    width: 100%;
    border : 1px solid #ddd;
    background-color: #f8f6f6;
    padding: 20px 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.board-search input {
    font-size: 1.08rem;
    width: 10%;
    padding: 10px 15px;
    border-radius: 5px;
    border : 1px solid #ddd;
    margin-right: 5px;
}

.board-search input:last-of-type {
    width: 40%;
}

/* cate-list */
.cate-list {
    padding-left: 0;
    margin-top: 12px;
}
.cate-list li {
    list-style: none;
    margin: 0 8px;
    padding-bottom: 3px;
}

.cate-list li button {
    border-radius: 20px;
    padding: 5px 15px;
    border: hidden;
    background-color: #fff;
    /*border-bottom: 2px solid #666;*/
}

.cate-list li:hover button {
    background-color: #fc6d8d;
    color : #fff;
    transition: background-color 0.5s;
}

.cate-list li + li::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 1px;
    margin-right: 12px;
    background-color: #666;
}

/* movie-table */

.movie-table {
    width: 100%;
    text-align: center;
    font-size: 1.08rem;
    border-top: 2px solid #666;
}

.movie-table tbody tr:last-of-type{
    border-bottom: 2px solid #666;
}

.movie-table td, th {
    padding: 10px 8px;
}

.movie-table tr {
    margin: 0 20px;
}

.movie-table .title {
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}

.movie-table .title a:hover {
    color: #ef3668;
    font-weight: 700;
}

#btn-search {
    /*visibility: hidden;
    display: none;*/
}

/* qna table */
.qna-cate {
    color: #fa5c88;
    font-weight: 600;
    padding-right: 5px;
}

/* qna select */
.qna-select {
    outline: none;
    border: none;
    padding: 10px 20px;
}

.qna-select option {
    padding-top: 5px;
    padding-bottom: 5px;
}

.not-allow {
    cursor: pointer;
}

/* board-detail */

.board-detail {
    margin: 30px 0 30px 0;
    border-top: 2px solid #666;
    font-size: 1.1rem;
}

.board-detail tbody tr:last-of-type {
    border-bottom: 2px solid #666;
}

.board-detail th, td {
    padding: 18px 20px;
}

.input-title {
    width: 100%;
}

.board-info{
    background-color: #efefef;
    padding: 15px 0;
}

.board-info span {
    margin-right: 10px;
}

.board-content {
    min-height: 400px;
    /*white-space: pre;*/
    white-space: pre-wrap;
    display: block;
    font-size: 1.08rem;
}

.board-write {
    min-height: 400px;
    /*white-space: pre;*/
    display: block;
}


.board-write textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
}

.card-img-same{
    height:300px;
    object-fit: cover;
}

/* comment */

.cmt-tit {
    font-weight: 800;
    color: #fa5c88;
    font-size: 1.7rem;
    letter-spacing: -0.1rem;
    margin-bottom: 10px;
}

.cmt-item {
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 10px 15px;
}

#comment-content {
    resize: none;
}



/* test css */

h1.test {
    font-weight: bolder !important;
}

/* 영화 상세페이지 */
#movieInfo .infoItem {
    margin: 10px 10px;
}


#likeBtnImg {
    background: url("img/heartBlank.png") center no-repeat;
    background-size: contain;
    width: 6em;
    height: 6em;
}

#likeBtnImg.clicked {
    background: url("img/heartRed.png") center no-repeat;
    background-size: contain;
}

#likeBtn {
    background: none;
}

.card .card-body .card-title {
    display: flex;
    justify-content: space-between;
    padding:0em 1.5em 0em 0em;
}

.card .card-body .card-title > span {
    display: block;
}