<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>MovieTogether</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/movie-style.css" rel="stylesheet">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
          integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<!--  영화제목 변환기 : conv() 함수 포함-->
  <script src="/js/movieNameConverter.js"></script>

  <script>
    // import conv from "/templates/movieNameConverter.js";

    // function conv(mn){
    //   const movieName = mn;
    //   let result;
    //
    //   switch (movieName){
    //     case "예시":
    //       result = "결과";
    //       break;
    //
    //     case "명탐정코난: 흑철의 어영":
    //       result = "명탐정 코난: 흑철의 어영";
    //       break;
    //
    //     default:
    //       result = movieName;
    //       break;
    //   }
    //   return result;
    // }

    $(document).ready(function () {

      function putComma(n) { // 콤마 넣는 함수(준호씨가 만듬)
        let result = "";
        let num = parseInt(n);
        while (parseInt(num / 1000) > 0) {
          result = "," + String(num % 1000).padStart(3, '0') + result;
          num = parseInt(num / 1000);
        }
        result = String(num) + result;
        return result;
      }
      // 로그인 체크
      let logincheck = "[[${session.userId}]]"
      if (logincheck != null) {
        let userBirth = "[[${session.userBirth}]]";
        userBirth = userBirth.slice(0, 4)
        console.log(userBirth)
        let age = (2023 - userBirth);
        console.log(age)
      }
      // 금일 박스 오피스 순위를 알기 위해서 하루전 날짜를 구함(당일에는 순위가 나오지않음!)
      let today = new Date();
      let year = today.getFullYear();
      let month = today.getMonth() + 1;
      let day = today.getDate() - 1;
      let targetDate = year.toString().padStart(4, '0') + month.toString().padStart(2, '0') + day.toString().padStart(2, '0')
      let adults = "";

      //promise 사용하여 2개의 api를 사용함
      function getBoxOfficeList() { // 영화 진흥위원회 api를 불러오는 함수
        return new Promise(function (resolve, reject) {

          $.ajax({
            url: "http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=0cef8373c2ef480da57a59e3967ca38f&targetDt=" + targetDate,
            type: "GET",
            data: {},
            success: function (data) {
              const boxOfficeResult = data.boxOfficeResult;
              const dailyBoxOfficeList = boxOfficeResult.dailyBoxOfficeList;
              resolve(dailyBoxOfficeList);
            },
            error: function () {
              reject("ajax 통신중 오류 발생");
            }
          });
        });
      }

      function getMovieDetails(movieName) { // 불러온 영화진흥위의 이름 값을 가져와서 tmdb의 검색 api를 사용함
        return new Promise(function (resolve, reject) {
          $.ajax({
            url: "https://api.themoviedb.org/3/search/movie?api_key=ad2f7390e457d7dc76e7fda8dcae77b2&language=ko-KR&page=1&include_adult=true&query=" + movieName,
            type: "GET",
            success: function (data) {
              const movieDetails = data.results[0];
              resolve(movieDetails);
            },
            error: function () {
              reject("서버 통신 중 오류 발생");
            }
          });
        })
      }

      getBoxOfficeList()
        .then(function (dailyBoxOfficeList) {
          const card = $("#rank-list");
          const promises = [];
          for (let i = 0; i < dailyBoxOfficeList.length; i++) {
            // conv() : 영화진흥원에 등록된 영화제목을 tmdb에 등록된 영화제목으로 변환해줌(포스터를 tmdb에서 불러오기위함)
            let movieName = conv(dailyBoxOfficeList[i].movieNm);
            // 이름 뒤에 숫자가 붙을 경우 제대로 검색되지 않아 영화와 숫자 사이의 공백을 만들어주고 프로미스에 집어넣음
            // let size = movieName.length
            // let part1 = movieName.slice(0, size - 1)
            // let part2 = movieName.slice(size - 1, size)
            // let part3 = movieName.slice(size - 2, size)
            // let part4 = movieName.slice(0, size - 2)
            // if (isNaN(part2)) {
            // } else if (isNaN(part3)) {
            //   movieName = part1 + " " + part2;
            // } else {
            //   movieName = part4 + " " + part3;
            // }

            let promise = getMovieDetails(movieName);

            promises.push(promise);
          }
          Promise.all(promises)
            .then(function (results) {
              for (let i = 0; i < results.length; i++) { // 영화 화면을 띄움
                const movieDetails = results[i];
                let imageBaseUrl = "https://image.tmdb.org/t/p/w300"
                let vote = 0;

                if(movieDetails === undefined){
                  imageBaseUrl = "/img/noPoster.jpg";
                }
                else{
                  imageBaseUrl += movieDetails.poster_path;
                  vote = movieDetails.vote_average
                }



                let tag = "<div class=\"rank-item col-sm-3\">";
                tag += "<a class='text-decoration-none text-black' id='adult-check' href='/detail/data/" + dailyBoxOfficeList[i].movieNm + "'>";
                tag += "<div class=\"rank-img\" style=\"\">";
                tag += "<img src=\"" + imageBaseUrl + "\" alt=\"그림 들어갈 부분\" class=\"\">";
                tag += "<div class=\"rank-num\">";
                tag += "<h4 class=\" \"><span class=''>" + dailyBoxOfficeList[i].rank + "</span></h4>";
                tag += "</div>";
                tag += "</div>";
                tag += "<div class=\"\">";
                tag += "<h4 class=\"rank-tit\">" + dailyBoxOfficeList[i].movieNm + "</h4>";
                tag += "<p class=\"rank-desc\"> <span class='rank-sub'>평점</span> <span>" + vote + " </span><span class='rank-sub'>총 관람객</span> <span>" + putComma(dailyBoxOfficeList[i].audiAcc) + "명 </span></p>";
                tag += "<p class=\"rank-desc\"><span class='rank-sub'>개봉일</span> <span>" + dailyBoxOfficeList[i].openDt + "</span></p>";
                tag += "</div>";
                tag += "</a></div>";
                card.append(tag);

              }
            })
            .catch(function (error) {
              alert(error);
            });
        })
    });


    function adultcheck(adult) {
      if (adult) {
        if (age > 19) {
          alert("성인 전용 컨텐츠입니다!")
          history.back();

        }
      } else {
        location.href = '/detail/data/' + MovieName
      }
    }
  </script>
  <style>

  </style>
</head>
<body>
<header th:replace="~{layout/header :: header-basic}"></header>
<main class="container my-5">
  <h1 class="box-office-tit mt-3">박스오피스 순위</h1>
  <div class="row" id="rank-list">
  </div>
</main>
<footer th:replace="~{layout/footer :: footer-basic}"></footer>
</body>
</html>